<mat-nav-list>
  <h3 mat-subheader>Projects</h3>
  <mat-list-item routerLink="/projects" (click)="onClick()">
    <mat-icon mat-list-icon svgIcon='home'></mat-icon>
    <h4 mat-line>Home</h4>
    <p mat-line>view all projects</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Calender</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon='home'></mat-icon>
    <h4 mat-line>Home</h4>
    <p mat-line>view all calendars</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon='month'></mat-icon>
    <span mat-line>By-month</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon='week'></mat-icon>
    <span mat-line>By-week</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon='day'></mat-icon>
    <span mat-line>By-day</span>
  </mat-list-item>
</mat-nav-list>
