<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Enter email" formControlName="email" required>
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Enter username" formControlName="name" required>
      </mat-form-field>
      <div formGroupName="passwordGroup">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Enter passowrd" formControlName="password" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Confirm passowrd" formControlName="repeat" required>
        </mat-form-field>
      </div>


      <!-- <mat-grid-list cols="8">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon class="avatar" [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list> -->

      <button mat-raised-button type="submit" [disabled]="!registerForm.valid">Register</button>
    </mat-card-content>
    <mat-card-actions>
      <p><a routerLink="/login">Login</a></p>
      <p><a routerLink="/forget">forget password?</a></p>
    </mat-card-actions>
  </mat-card>
</form>
