form {
  min-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.error-msg {
  color: #F1453D;
  margin-bottom: 2rem;
}

.error-container {
  display: inline-block;
  position: relative;
  text-align: left;
}

.project-img {
  position: absolute;
  height: 0;
  width: 0;
}

input.project-img+label {
  background-color: #1e88e5;
  color: white;
  user-select: none;
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 4px;
  padding: .5rem .5rem;
}

input.project-img:focus+label {
  outline: thin dotted;
}

input.project-img:focus-within+label {
  outline: thin dotted;
}

.file {
  margin-bottom: 1rem;
}
