<form [formGroup]="formModel" (ngSubmit)=onSubmit()>
  <h3 mat-dialog-title class="project-title">{{title}}</h3>
  <div mat-dialog-content>
    <div class="form-field">
      <mat-form-field>
        <input type="text" appNoSpaces matInput class="project-name" placeholder="project name" formControlName="name"
          required>
      </mat-form-field>
    </div>
    <div class="error-container">
      <div
        *ngIf="formModel.controls['name'].invalid && (formModel.controls['name'].dirty || formModel.controls['name'].touched)"
        class="error-msg">
        <div>Project name is required and can not only has space.</div>
      </div>
    </div>
    <div class="form-field">
      <mat-form-field>
        <textarea type="text" matInput class="project-desc" placeholder="project description"
          formControlName="desc"></textarea>
      </mat-form-field>
    </div>
    <div class="form-field file">
      <input type="file" id="fileEle" class="project-img" accept=".jpg, .jpeg, .png" (change)="onFileChange($event)">
      <label for="fileEle">Choose an image</label>
    </div>
  </div>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button type="button" mat-raised-button color="primary" type="submit" [disabled]="!formModel.valid">save</button>
    <button type="button" mat-dialog-close mat-button>close</button>
  </div>
</form>
