.project-list {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project {
  width: 31%;
  min-height: 40%;
  margin: 3% 1%;
}

button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 999;
}
