.task-container {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 1rem auto;
  height: 75vh;
  display: flex;
  overflow-x: auto;
}

.list {
  flex: 0 0 32%;
  margin-right: 1rem;
  overflow-x: hidden;
  background: white;
  border: 2px solid rgba(47, 140, 223, 1.0);
  border-radius: 5px;
}

.button-group {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.project-description {
  flex: 1 1 50%;
}

.backButton {
  text-align: left;
  background-color: transparent;
  border: none;
  margin-right: 2rem;
}

mat-toolbar {
  max-width: 1100px;
  margin: 0 auto;
  color: rgba(117, 117, 117, 1.0);
  font-size: 1rem;
  font-weight: 400;
}

mat-icon :hover {
  font-size: 2rem;
}
