<div>
  <div class="button-group">
    <button (click)="backToProjects()" class="backButton">
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <div class="project-description">
      <h2>{{currentProject?.name}}</h2>
      <p>{{currentProject?.desc}}</p>
    </div>
    <button mat-raised-button color="primary" (click)="openCreateTaskListDialog()">
      Add Tasklist
    </button>
  </div>
  <mat-toolbar *ngIf="lists?.length===0">
    <span>You have not got any tasklist, please add...</span>
  </mat-toolbar>
  <div class="task-container">
    <app-tasklist class="list" *ngFor="let list of lists">
      <app-taskheader [header]="list.name" [numberOfTasks]="numberOfTasks" (newTask)="openCreateTaskDialog(list.id)"
        (moveTaskList)="openMoveTaskListDialog()" (editTaskList)="openEditTaskListDialog(list)" (deleteTaskList)="openDeleteTaskListDialog(list)">
      </app-taskheader>
      <app-quicktask (quicktask)="createQuickTask($event,list.id)"></app-quicktask>
      <app-taskitem [listId]="list.id" [newTask]="newTask" [updatedTask]="updatedTask" (editTask)="openEditTaskDialog($event)"
        (taskStatus)="toggleTaskStatus($event)">
      </app-taskitem>
    </app-tasklist>
  </div>
</div>
