<div class="container">
  <div class="top-bg"></div>
  <div class="side-bar-container">
    <a href="javascript:void(0);" class="menu">
      <mat-icon>menu</mat-icon>
    </a>
    <div class="side-bar">
      <div class="side-header">
        <span class="font-size-2">{{currentProject?.name}}</span>
        <span class="overflow-hidden" matTooltip={{currentProject?.desc}}>{{currentProject?.desc}}</span>
      </div>
      <div class="side-content">
        <div class="pt-2 pb-1 px-2">
          <button mat-raised-button color="primary" class="full-width" (click)="openCreateTaskListDialog()">ADD
            TASKLIST</button>
        </div>
        <div>
          <mat-nav-list>
            <a [routerLink]="['./']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" (click)="showAllTasks()">
              <mat-list-item>
                All
              </mat-list-item>
            </a>
            <app-tasklist *ngFor="let list of allLists" [list]="list" (emitId)="getTasksByTasklistId($event)"
              (emitEditList)="openEditTaskListDialog($event)" (emitDeleteList)="openDeleteTaskListDialog($event)">
            </app-tasklist>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-search">
      <div class="content-header">
        <div class="arrow-button">
          <button (click)="backToProjects()" class="backButton">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>

        <div class="search-wrapper">
          <div class="search px-2">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search for task" [formControl]="searchTerm">
          </div>
        </div>

        <div class="add-button">
          <button mat-raised-button (click)="openCreateTaskDialog(projectId)">ADD TASK</button>
        </div>
      </div>
    </div>
    <div class="content-detail">
      <app-task *ngFor="let task of tasks" [task]="task" (emitEdit)="openEditTaskDialog($event)"
        (emitDelete)="openDeleteTaskDialog($event)"></app-task>
    </div>

  </div>
</div>
