.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 28px;
}

.search {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

mat-icon {
  color: rgba(117, 117, 117, 1.0);
}

.search input {
  flex: 1;
  height: 3rem;
  padding: 0 .5rem;
  border: none;
  outline: 0;
  font-size: 1rem;
}
