mat-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card a {
  color: inherit;
  flex: 1;
  border: none;
}

mat-card-actions {
  display: flex;
}

mat-card-actions button {
  flex: 1;
}

.mat-button {
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
}



img {
  width: 100%;
}

mat-card-content {
  margin-bottom: 0;
}
