a {
  color: inherit;
}

.project-card {
  box-sizing: border-box;
  height: 370px;
}

img {
  width: 100%;
}

.project-description {
  box-sizing: border-box;
  height: 11%;
  margin-bottom: 0;
  overflow: hidden;
  word-wrap: break-word;
}


mat-card-header {
  box-sizing: border-box;
  overflow: hidden;
}
