<!-- <mat-list-item *ngFor="let task of tasks" (click)="onClick(task)" class="list-item">
  <mat-checkbox class="checkbox" color="primary" (click)="onClickCheckbox($event)" [checked]="task.completed" (change)="toggleTaskStatus(task)">
  </mat-checkbox>
  <div class="content">
    <div class="desc" [class.isCompleted]="task.completed" matTooltip="{{task.desc}}">{{task.desc}}</div>
    <div class="extra-content">
      <div class="due-date">
        <mat-icon>alarm</mat-icon>
        <span [class.isCompleted]="task.completed">{{task.endDate | date: "MM-dd-yy"}}</span>
      </div>
      <div [ngClass]="{'high-priority':task.priority===1,'mid-priority':task.priority===2,'low-priority':task.priority===3}"
        class="priority"></div>
    </div>
  </div>
</mat-list-item> -->
<div class="container pr-2">
  <div class="content-header">
    <div class="arrow-button">
      <button (click)="backToProjects()" class="backButton">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="search-wrapper">
      <div class="search px-2">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search for task" [formControl]="searchTerm">
      </div>
    </div>

    <div class="add-button">
      <button mat-raised-button (click)="emitAddClick()">ADD TASK</button>
    </div>
  </div>
  <div class="content-detail">

    <div class="task-container pt-1 pb-1 px-2" *ngFor="let task of tasks">
      <div class="task">
        <mat-checkbox class="mr-2" color="primary" (click)="onClickCheckbox($event)" [checked]="task.completed"
          (change)="toggleTaskStatus(task)">
        </mat-checkbox>
        <div class="task-detail">
          <div class="desc" [class.isCompleted]="task.completed">
            <div class="desc-detail">
              {{task.desc}}
            </div>
            <div class="due-date">
              <mat-icon>alarm</mat-icon>
              <span [class.isCompleted]="task.completed">{{task.endDate | date: "MM-dd-yy"}}</span>
            </div>
          </div>
        </div>

        <div class="actions">
          <div class="priority-container">
            <div [ngClass]="{'high-priority':task.priority===1,'mid-priority':task.priority===2,'low-priority':task.priority===3}"
              class="priority">
            </div>
          </div>
          <button mat-icon-button>
            <mat-icon (click)="emitEditClick(task)">edit</mat-icon>
          </button>
          <!-- <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
