.container {
  display: flex;
}

.checkbox {
  width: 10%;
}

.content {
  width: 85%;
}

.desc {
  width: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.isCompleted {
  text-decoration: line-through rgba(39, 138, 226, 1.0) double;
}

.list-item {
  border-bottom: 1px solid #ddd;
  padding: 0.8rem 0;
}

.list-item:last-child {
  border-bottom: none;
}

.extra-content {
  display: flex;
  align-items: center;
}

.due-date {
  min-width: 90%;
}

.priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.high-priority {
  background-color: rgba(232, 67, 59, 1.0);
}

.mid-priority {
  background-color: rgba(253, 192, 47, 1.0);
}

.low-priority {
  background-color: rgba(59, 139, 63, 1.0);
}
