.isCompleted {
  text-decoration: line-through rgba(39, 138, 226, 1.0) double;
}

.priority {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
}

.high-priority {
  background-color: rgba(232, 67, 59, 1.0);
}

.mid-priority {
  background-color: rgba(253, 192, 47, 1.0);
}

.low-priority {
  background-color: rgba(59, 139, 63, 1.0);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}

.content-header .backButton {
  background: transparent;
  border: none;
}

.content-header .backButton:hover {
  cursor: pointer;
}

.backButton mat-icon {
  height: 36px;
  width: 36px;
  color: #ffff;
}

.backButton .material-icons {
  font-size: 36px;
}

.search-wrapper {
  max-width: 500px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
}



.menu-container {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
}

.search input {
  flex: 1;
  border: none;
  outline: 0;
  font-size: 1rem;
  padding: 0;
  border-radius: 30px;
}

.search mat-icon {
  color: #757575;
}

.content-detail {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
}

.task-container {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.task-container:hover {
  background-color: #EBEBEB;
}

.task {
  display: flex;
  align-items: center;
}

.task-detail {
  flex: 1;
  display: flex;
  align-items: center;
}

.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.desc-detail {
  font-size: 1.2rem;
}

.content-detail-container {
  padding: 1rem;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button mat-icon {
  color: rgba(0, 0, 0, .54);
}

.priority-container {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .menu-container {
    margin-left: 1rem;
    border-right: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-button {
    order: 2;
    width: 50%;
  }

  .search-wrapper {
    order: 1;
    max-width: 1100px;
    width: 100%;
    text-align: center;
  }

  .add-button {
    order: 3;
    width: 50%;
    text-align: right;
  }
}
