<form [formGroup]="formModel" (ngSubmit)="onSubmit()">
  <h3 mat-dialog-title>{{title}}</h3>
  <div mat-dialog-content>
    <mat-form-field class="full-width description">
      <textarea type="text" matInput placeholder="Enter task description" formControlName="desc"></textarea>
    </mat-form-field>
    <div class="priority">
      <mat-radio-group formControlName="priority">
        <mat-radio-button class="radio-button" *ngFor="let priority of priorities" [value]="priority.value">
          {{priority.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="date-picker">
      <mat-form-field class="date-item">
        <input matInput [matDatepicker]="startpicker" placeholder="Start Date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endpicker" placeholder="Due Date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actins>
    <button type="button" mat-raised-button color="primary" type="submit" [disabled]="!formModel.valid">save</button>
    <button type="button" mat-dialog-close mat-button>close</button>
  </div>
</form>
