.wrapper {
  background: #EDEDED;
}

.container {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem;
}

.stat-data {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.stat-data>div {
  margin: 10px;
  padding: 1rem;
}

.data {
  flex: 1 1 0;
  display: flex;
  justify-content: space-between;
}

.data-one {
  background-color: #8179C0;
  border: none;
}

.data-two {
  background-color: #36a2f5;
  border: none;
}

.data-three {
  background-color: #eac459;
  border: none;
}

.data-chart {
  flex: 1.5 1 0;
  display: block;
  height: 150px;
  margin: 10px;
  border: none;
}



.stat-chart {
  display: flex;
  flex-wrap: wrap;
}

.chart {
  flex: 1;
  margin: 10px;
  display: block;
  height: 300px;
}

mat-icon {
  width: 3rem;
  height: 3rem;
}

.material-icons {
  font-size: 3rem;
}



@media screen and (max-width:950px) {
  .chart {
    flex-basis: 100%;
  }

  .data-chart {
    flex-basis: 50%;
  }
}

@media screen and (max-width:620px) {
  .data {
    flex-basis: 100%;
  }
}
