/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

* {
  box-sizing: border-box;
}

button,
a {
  outline: 0 !important;
}

html {
  line-height: 1.5;
}

html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  outline: 0;
}

.secondary-text {
  color: rgba(0, 0, 0, .54);
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-weight-300 {
  font-weight: 300;
}

.line-height-1 {
  line-height: 1;
}

.background-set {
  background: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 8px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pr-2 {
  padding-right: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}
